@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1 {
  background: url(https://i.pinimg.com/736x/ee/ad/bc/eeadbcbcac9eb6d11b175c4538ec42d3.jpg);
  background-size: 100%;
  height: 900px;

}
